@page "/primarydisplay"
@using BanchoSharp.Interfaces
@using Brigitta.Extensions

@attribute [Authorize]

@inject IBanchoClient Client
@inject ISnackbar Snackbar
@inject IJSRuntime JS
@inject ILogger<PrimaryDisplay> Logger
@inject IDialogService DialogService

@functions {

    private async Task ScrollToBottom(string divId)
    {
        if (_autoScroll)
        {
            await JS.InvokeVoidAsync("scrollToBottom", divId);
        }
    }
}

<MudStack>
    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined">This view is incomplete. Expect bugs.</MudAlert>
    <MudGrid Spacing="20">
        <MudPaper Width="60%">
            <div id="@_consoleDivId" style="overflow: auto; height: 400px;">
                <MudContainer>
                    @if (_currentlySelectedChannel != null)
                    {
                        foreach (var message in ((IChatChannel)_currentlySelectedChannel).MessageHistory)
                        {
                            if (message is not IPrivateIrcMessage priv)
                            {
                                continue;
                            }
                        
                            @if (_utcTime)
                            {
                                <MudText Style="word-wrap: anywhere" Inline="true">@(priv.ToUTCTimeString() + " ")</MudText>
                            }
                            else
                            {
                                <MudText Style="word-wrap: anywhere" Inline="true">@(priv.ToTimeString() + " ")</MudText>
                            }
                        
                            <MudText Inline="true"> </MudText>
                        
                            <MudLink Underline="Underline.Hover" Color="@GetUsernameColor(priv.Sender)"
                                     Href="@GetUsernameLink(priv.Sender)" Target="blank">
                                <MudText Style="word-wrap: anywhere" Inline="true" Color="@GetUsernameColor(priv.Sender)">@priv.Sender</MudText>
                            </MudLink>
                            <MudText Style="word-wrap: anywhere" Inline="true">@priv.Content</MudText>
                            <MudText/>
                        }
                    }
                </MudContainer>
            </div>

            <MudTextField @ref="RefEntryField" @bind-Value="_textChatValue" Label="Send a message" Immediate="true"
                          Variant="Variant.Outlined" T="string"
                          Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Send" AdornmentColor="Color.Success"
                          OnKeyDown="OnTextChatSend" OnAdornmentClick="ForceChatSend"/>
        </MudPaper>
        <MudPaper Width="40%">
            <MudList Clickable="true" @bind-SelectedValue="_currentlySelectedChannel"
                     Style="overflow-y: scroll; height: 400px">
                @foreach (var channel in Client.Channels)
                {
                    <MudListItem Value="@channel" Icon="@Icons.Material.Outlined.Chat"
                                 OnClick="() => ScrollConsoleToBottom(5)">
                        @channel.ChannelName
                    </MudListItem>
                }
            </MudList>
            <MudTooltip Text="Add channel">
                <MudIconButton Icon="@Icons.Material.Filled.Add" Size="Size.Large" Color="Color.Success"
                OnClick="@OpenAddChannelDialog"/>
            </MudTooltip>
            
            <MudTooltip Text="@_autoScrollToolTip">
                <MudToggleIconButton @bind-Toggled="_autoScroll" Icon="@Icons.Material.Filled.ArrowDownward"
                                     Size="Size.Large" ToggledSize="Size.Large"
                                     ToggledColor="Color.Success" ToggledIcon="@Icons.Material.Filled.ArrowCircleDown"/>
            </MudTooltip>
            
            <MudSwitch @bind-Checked="_utcTime" Color="Color.Info" Label="UTC Time"/>
        </MudPaper>
        
        @if (_currentlySelectedChannel is IMultiplayerLobby mp)
        {
            // We are inside of a multiplayer lobby channel.
            <MudPaper Width="25%">
                <MudText>Size: @mp.Size</MudText>
                <MudText>Players: @mp.PlayerCount</MudText>
            </MudPaper>
        }
    </MudGrid>

    @* Add channel dialog *@
    <MudDialog @bind-IsVisible="_addChannelDialogIsVisible" Options="_dialogOptions">
        <DialogContent>
            <p>Add a channel</p>
            <MudTextField Label="Channel" T="string" @bind-Value="_addChannelDialogValue"
            Validation="@(new Func<string, IEnumerable<string>>(AddChannelValidation))"/>
        </DialogContent>
        <DialogActions>
            <MudButton Color="Color.Error" OnClick="CloseAddChannelDialog">Cancel</MudButton>
            <MudButton Color="Color.Success" OnClick="AddChannelAsync">Add</MudButton>
        </DialogActions>
    </MudDialog>


    @if (_currentlySelectedChannel is IMultiplayerLobby mp)
    {
        <MudPaper>
            <MudIconButton Color="Color.Primary" OnClick="@(() => _currentlySelectedLobby?.SetTimerAsync(10))"
                       Icon="@Icons.Material.Filled.Timer10" Size="Size.Large" />
        </MudPaper>
    }
</MudStack>


@code {
    // Dialogs
    private DialogOptions _dialogOptions = new() { CloseOnEscapeKey = true };
    private bool _addChannelDialogIsVisible;
    private void OpenAddChannelDialog()
    {
        _addChannelDialogIsVisible = true;
        _addChannelDialogValue = "";
    }
    private void CloseAddChannelDialog() => _addChannelDialogIsVisible = false;

    private string _addChannelDialogValue;

    private string? _textChatValue;
    private object? _currentlySelectedChannel;
    private IChatChannel? _castedCurrentlySelectedChannel => (IChatChannel?)_currentlySelectedChannel;
    private IMultiplayerLobby? _currentlySelectedLobby => _currentlySelectedChannel is IMultiplayerLobby mp ? mp : null;

    private bool _autoScroll = true;
    private bool _utcTime = false;

    private string _autoScrollToolTip => _autoScroll ? "AutoScroll (currently enabled)" : "AutoScroll (currently disabled)";
    private MudTextField<string> RefEntryField;
    private string _consoleDivId => "console";

    protected override void OnInitialized()
    {
        Client.OnMessageReceived += async m =>
        {
            if (m is IPrivateIrcMessage priv)
            {
                Logger.LogDebug($"Private message received: {priv}");

                if (_castedCurrentlySelectedChannel == null)
                {
                    return;
                }

                if ((priv.IsDirect && priv.Sender.Equals(_castedCurrentlySelectedChannel.ChannelName)) ||
                    (!priv.IsDirect && priv.Recipient.Equals(_castedCurrentlySelectedChannel.ChannelName)))
                {
                    await InvokeAsync(StateHasChanged);
                }
            }
        };
        Client.OnPrivateMessageSent += async _ => await ScrollConsoleToBottom();
        Client.OnPrivateMessageReceived += async _ => await ScrollConsoleToBottom();

        Client.OnChannelJoined += async channel => 
        {
            Snackbar.Add($"Joined channel {channel}", Severity.Success);
            // _currentlySelectedChannel = channel;

            await InvokeAsync(StateHasChanged);
        };

        Client.OnUserQueried += async user =>
        {
            Snackbar.Add($"Opened conversation with {user}", Severity.Success);
            await InvokeAsync(StateHasChanged);
        };

        Client.OnChannelParted += async channel => 
        { 
            if (_currentlySelectedChannel.Equals(channel))
            {
                _currentlySelectedChannel = Client.Channels.LastOrDefault();
            }

            await InvokeAsync(StateHasChanged);
        };

        Client.OnChannelJoinFailure += async channel =>
        { 
            Snackbar.Add($"Failed to join channel {channel}", Severity.Error);
            await InvokeAsync(StateHasChanged);

            if(_currentlySelectedChannel.Equals(channel))
            {
                _currentlySelectedChannel = Client.Channels.LastOrDefault();
            }
        };

        Client.BanchoBotEvents.OnTournamentLobbyCreated += lobby =>
        {
            Snackbar.Add($"Created the tournament match: {lobby.Name}", Severity.Info);

            // Register lobby events
            lobby.OnMatchStarted += () => Snackbar.Add($"Match started: {lobby.Name}", Severity.Info);
            lobby.OnMatchFinished += () => Snackbar.Add($"Match finished: {lobby.Name}", Severity.Info);
            lobby.OnMatchAborted += () => Snackbar.Add($"Match aborted: {lobby.Name}", Severity.Warning);
            lobby.OnClosed += () => Snackbar.Add($"Lobby closed: {lobby.Name}", Severity.Info);
            lobby.OnStateChanged += async () => await InvokeAsync(StateHasChanged);
        };

        Task.Run(async () => await JoinDefaultChannels());

        _currentlySelectedChannel = Client.GetChannel("BanchoBot") ?? Client.Channels.FirstOrDefault();
    }

    private async Task JoinDefaultChannels()
    {
        await Client.JoinChannelAsync("#english");
        await Client.JoinChannelAsync("#osu");
        await Client.QueryUserAsync("BanchoBot");
    }

    private async Task ForceChatSend() => await OnTextChatSend(new KeyboardEventArgs
    {
        Key = "Enter"
    });

    private async Task OnTextChatSend(KeyboardEventArgs args)
    {
        if (args.Key is "Enter" or "NumppadEnter")
        {
            RefEntryField.TextUpdateSuppression = false;

            await Client.SendPrivateMessageAsync(((IChatChannel)_currentlySelectedChannel).ChannelName, _textChatValue);
            Logger.LogDebug($"Message sent: '{_textChatValue}' to {_currentlySelectedChannel}");

            _textChatValue = string.Empty;
            await InvokeAsync(StateHasChanged);
            await Task.Run(async () =>
            {
                await Task.Delay(150);
                RefEntryField.TextUpdateSuppression = true;
            });
        }
    }

    private IEnumerable<string> AddChannelValidation(string channel)
    {
        if(string.IsNullOrWhiteSpace(channel))
        {
            yield return "Channel name must not be empty.";
        }
    }

    private async Task ScrollConsoleToBottom(int? delaySeconds = 0)
    {
        if (delaySeconds.HasValue)
        {
            await Task.Delay(delaySeconds.Value);
        }

        await ScrollToBottom(_consoleDivId);
    }

    private async Task AddChannelAsync()
    {
        await Client.JoinChannelAsync(_addChannelDialogValue);
        CloseAddChannelDialog();
    }

    private string GetUsernameLink(string username) => $"https://osu.ppy.sh/u/{username}";

    private Color GetUsernameColor(string username)
    {
        string loggedInUsername = Client.ClientConfig.Credentials.Username;
        switch (username)
        {
            case "BanchoBot":
                return Color.Error;
            default:
            {
                if (username == loggedInUsername)
                {
                    return Color.Primary;
                }
                break;
            }
        }
        return Color.Success;
    }
}